name: Test

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install isEvenApi
          pip install -r requirements.txt
      - name: Run tests
        run: |
          python tests/test_ad.py
          python tests/test_is_even.py
          python tests/test_is_odd.py
